link(rel='stylesheet' href='/stylesheets/add-lists-modal.css')

div
    h2 Add List Name

div
    form(action="lists/", method="post")
        input(type="hidden", name="_csrf" id='add-list-csrf' value= csrfToken)
        input(type="text", name="title" id='add-list-title')

div.add-list-modal-submit-close
    div.add-list-submit Submit
    div.add-list-close Close 