.close
h2.task-details__task-title
.task-details__details-container
  .task-details__details-section-modifiers
    .task-details__details-due-container
      span due
      span.task-details__dueDate.editField
      span.task-details__dueDate-edit
        i.far.fa-edit
    .task-details__details-estimate-container
      span estimate
      span.task-details__estimate.editField
      span.task-details__estimate-edit
        i.far.fa-edit
  .task-details__details-section-list
    .task-details__details-list-container
      span list
      span.task-details__list.editField
      span.task-details__list-edit
        i.far.fa-edit
  .task-details__completed-container
    span Is Complete?
    span.task-details__completed-status.editField
    span.task-details__completed-edit
        i.far.fa-edit
.task-details__delete
  div Delete
