.close
h2.task-details__task-title
.task-details__details-container
  .task-details__details-container-modifiers
    .task-details__details-due-container
      span due
      span.task-details__dueDate
      span.task-details__dueDate-edit
        i.far.fa-edit
    .task-details__details-due-container
      span estimate
      span.task-details__estimate
      span.task-details__estimate-edit
        i.far.fa-edit
  .task-details__details-container-list
    .task-details__details-due-container
      span estimate
      span.task-details__list
      span.task-details__list-edit
        i.far.fa-edit
  .task-details__completed-container
    span.incomplete Incomplete
    span.completed Complete
