link(rel='stylesheet' href='/stylesheets/list-menu.css')

div
    img(src='/images/logo.png' width="175")

div.inbox-div
    //- p Inbox
    ul.list-tree
        li #[span.caret Inbox]
        div.nested-div
            ul.nested
                li All Tasks
                li Trash


div.lists-div
    ul.list-tree
        li #[span.caret Lists]
        div.nested-div
            ul.nested <!--TODO: ADD MIXIN TO FILL NESTED LIST WITH ALL LISTS -->
                li Personal
                li Work


script(src="../javascripts/lists-menu.js" type='module' defer)