link(rel="stylesheet", href='/stylesheets/summary.css')
script(src="https://kit.fontawesome.com/e145510635.js" crossorigin="anonymous")

.summary-box
  p.all-tas All Tasks 
    i.fas.fa-rss
    i.far.fa-calendar-alt
    div.task-box  
        div.task-count
            p.tas tasks
        div.task-completed
            p.comp completed

footer.footer
  .sum-footer
      span.footer__text &#169; 2020 Never Forget
      a.footer__social-links(href="https://github.com/sjstark/Never-Forget")
        i.fab.fa-github-square

