mixin task-item(task)
  .task-list__task-item
    .task-list__task-bar
    input(type="checkbox" name="item" checked="checked")
    //- .task-list__task-select
    span.task-list__task-title #{task.title}
