include ./task-item

link(rel='stylesheet' href='/stylesheets/task-list.css')
.menubar
  .menubar-item.menubar-item__incomplete.menubar-item--active Incomplete
  .menubar-item.menubar-item__complete Completed
.task-add__container
  form()
    .task-add__errors-container
    .task-add__input-container
      input#csrf(type='hidden' name='_csrf' value = csrfToken)
      input.task-add__input-field(autocomplete="off" id='taskInput' name='taskInput' placeholder="Add a task...")
    .task-add__options
      .task-add__options-modifiers
        div.task-add__due-date(title='Add Due Date')
          i.far.fa-calendar-check
        div.task-add__list(title='Add Task to List')
          i.fas.fa-list
        div.task-add__estimate(title='Add Time Estimate')
          i.far.fa-clock
      button.task-add__submit#add-task Add Task
.task-list__container
  .task-list__tasks
    //- - var tasks = [{title:"Enroll in App Academy"},{title:"Do my homework"},]
    if tasks
      each task in tasks
        +task-item(task)
  .task-list__placeholder
    //- - var n = 0
    //- while n < 40
    //-   - n++
    //-   - blankTask = {title: ''}
    //-   //- +task-item(blankTask)
    //-   .task-list__task-item-placeholder
