doctype html
html
  head
      block head
        title="Never Forget"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/navbar.css')
        link(rel="stylesheet", href='/stylesheets/404.css')
        script(src="https://kit.fontawesome.com/e145510635.js" crossorigin="anonymous")


  body
    block content
      nav.navbar
       a(href="/")
        img(src="/images/logo.png" width="120")

    .errFooter
      span.footer__text &#169; 2020 Never Forget
      a.footer__social-links(href="https://github.com/sjstark/Never-Forget")
        i.fab.fa-github-square
