<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Dummy Submit
    body
        div
            h1 POST request for tasks
            form(action="/tasks", method="post")
                input(type='hidden' name='_csrf' value = csrfToken)
                label Title
                input(name='title' type='text')
                label ListId
                input(type="text" name='listId')
                label Estimated time
                input(type="text" name='estimate')
                label dueDate
                input(type='date' name='dueDate')
                button(type="submit") Submit Post Request

        div
            h1 PUT request for tasks
            form(action="/tasks/9", method="post")
                input(type='hidden' name='_method' value="put")
                input(type='hidden' name='_csrf' value = csrfToken)
                label Title
                input(name='title' type='text')
                label ListId
                input(type="text" name='listId')
                label Estimated time
                input(type="text" name='estimate')
                label dueDate
                input(type='date' name='dueDate')
                button#thisButton(type="submit") Submit Post Request
        script(src="/javascripts/dummy-submit.js" type="module" defer)
