doctype html
html
  head
      block head
        title="Never Forget"
        link(rel='stylesheet' href='/stylesheets/form-layouts.css')
  body
    div.main__container
      div.form__left
        a(href="/")
          img.logo(src="/images/logo.PNG" width="200")
        div.quote__container
          p "Some quote here"
          p Quotes curated by [Someone]
      block content
