extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  if locals.authenticated
    h2= user.firstName
    form(action='/users/logout' method='POST')
      button(type='submit') Logout
  p Welcome to your Project Skeleton
