extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  //- script(src="/javascripts/index.js" type="module" defer)

block content
  .main__container
    div.spacer
    h1.main__header The smart<em>er</em> to-do app for busy people.
    a.main__signup(href="/users/signup") Sign Up Free
    .main__examples
      .main__exampleTask.main__exampleTask--1
        span Finish your App Academy homework.
      .main__exampleTask.main__exampleTask--2
        span Do your End of Day Report!
      img.main__taskDoer(src="/images/task-doer.png")
    h2.main__subheader Get reminded, online.
    p.main__text You'll never forget anything again.
