doctype html
html
  head
      block head
        title="Never Forget"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/navbar.css')
  body
    nav.navbar
      a(href="/")
        img(src="/images/logo.png" width="200")
      .navbar__links
        a.navbar__item.navbar__item-button(href="/users/login") Login
        a.navbar__item.navbar__item-button(href="/users/demo") Demo
        a.navbar__item.navbar__item-primary(href="/users/signup") Sign Up for Free
    block content
