doctype html
html
  head
      block head
        title="Never Forget - Login"
        link(rel='stylesheet' href='/stylesheets/form-layouts.css')
  body
    div.main__container
      div.form__left
        a(href="/")
          img.logo(src="/images/logo.png" width="200")
        div.quote__container
          p.quote “What we truly need to do is often what we most feel like avoiding.”
          p.author - David Allen
          img.avatar(src="/images/avatar_bob_quote.png")
          p.curator Quotes curated by [Someone]
      div.form__right
        a.signup__button(href="/users/signup") Sign up for free
        form.form__group(action='/users/login' method='post')
          if errors
            div.error__container
              each error in errors
                p= error
          div.form__msg Been here before? Welcome back!
          input(type='hidden' name='_csrf' value=csrfToken)
          div.form__item
            input(type='text' id='email' name='email' placeholder='Email')
          div.form__item
            input(type='password' id='password' name='password' placeholder='Password')
          div
            button.form__button(type='submit' id='loginbtn') Log in
            button#demobtn.form__button() Login As Demo User
        script(src="/javascripts/login.js" type="module" defer)

