extends form-layout.pug

block content
  div.form__right
    button.signup__button(type="button" href="/users/signup") Sign up for free
    div.error__container
      if errors
        each error in errors
          p= error
      else
        div.form__msg Been here before? Welcome back!
    form.form__group(action='/users/login' method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      div.form__item
        input(type='text' id='email' name='email' placeholder='Email')
      div.form__item
        input(type='password' id='password' name='password' placeholder='Password')
      div
        button.form__button(type='submit' id='loginbtn') Log in
    //- script(src="/javascripts/login.js" type="module" defer)
