.backgroundImg {
  display: flex;
  position: relative;
  top: 200px;
  justify-content: center;
}

img {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.errFooter {
  position: absolute;
  padding-bottom: 1.5rem;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
}
