body {
  background-image: url("/images/brokenCar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.errFooter {
  position: absolute;
  padding-bottom: 1.5rem;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
}

.errImg {
  margin: auto;
}
