body {
  background-image: url("/images/peanuts.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: contain;
  background-size: 52%;
}

.errFooter {
  position: absolute;
  padding-bottom: 1.5rem;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
}
