.footer{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.footer>div{
  margin: 20px;
  max-width: 800px;
}

.footer *{
  display:block;
  text-decoration: none;
}

.row-1{
  display: flex;
  justify-content: space-between;
  width:100%;
}

.row-1>*{
  width:150px;
}

.row-1>.col-1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-2{
  margin-top: 10px;
  display: flex;
  width:100%;
  justify-content: space-between;
  align-items: center;
}

.footer__title{
  color: #8B8B94;
  font-weight: bold;
  padding: 15px 15px 10px;
}

.footer__links{
  color: #8B8B94;
  font-size: 14px;
  font-weight: 200;
  padding: 5px 15px;
  margin: 5px 0;
}

.footer__links:hover{
  background-color: #eeeeee;
  border-radius: 5px;
}

.footer__text{
  color: #8B8B94;
  font-size: 14px;
}

.footer__social-links{
  color: #8B8B94;
  font-size: 20px;
}
