/* CONTAINERS */

.lists-div{
    border-top: 1px solid plum;
    border-bottom: 1px solid plum;
    padding: 10px 0px 0px 10px;
}

.inbox-div {
    padding: 10px 0px 0px 10px;
}

.nested-div {
    padding-left: 20px
}

/* UNORDERED LISTS  */

ul.list-tree, ul.nested, .inbox-tree {
    list-style-type: none;
}

.list-tree li {
    margin-top: 3px;
    margin-bottom: 3px;
}

.nested {
    display: block;
}

.nested--inactive {
    display: none;
}

.caret {
    cursor: pointer;
    font-size: 14;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    transform: rotate(90deg);
}

/* INNER ELEMENTS */

/* li .caret {
    font-size: 14;
} */