/* CONTAINERS */

.lists-div{
    border-top: 1px solid plum;
    border-bottom: 1px solid plum;
    padding: 10px 0px 0px 10px;
}

.inbox-div {
    padding: 10px 0px 0px 10px;
}

.nested-div {
    padding-left: 20px
}

.peanut-div {
    position: absolute;
    bottom:15px;
}

.github-blurb {
    background-color:#fffd78;
    width: 100px;
    height: 60px;
    position: absolute;
    bottom: 40px;
    left:45px;
    padding: 3px;
    border-radius: 5px;
}

.github-blurb:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: #fffd78;
    border-left: 0;
    border-bottom: 0;
    margin-top: -5px;
    margin-left: -10px;
}

/* UNORDERED LISTS  */

ul.list-tree, ul.nested, .inbox-tree {
    list-style-type: none;
}

.list-tree li {
    margin-top: 3px;
    margin-bottom: 3px;
    cursor: pointer;
}

.nested {
    display: block;
}

.nested--inactive {
    display: none;
}


/* INNER ELEMENTS */

.list-tree-li--emphasis {
    font-weight: bold;
    color: purple;
}

.github-blurb a {
    text-decoration: none;
    text-emphasis: bold;
    font-size: 15px;
    /* margin: 10px; */
}

.caret {
    cursor: pointer;
    /* position: relative; */
    /* font-size: 14; */
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    transform: rotate(90deg);
}
