::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #aaaaaa;
  transition: 0.3s;
}

button {
  border: none;
  background: none;
}

/******************************************************************************/
/******************** INCOMPLETE/COMPLETE FORMATTING **************************/
/******************************************************************************/

.menubar {
  margin-top: 30px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
}

.menubar-item {
  transform: translateY(1px);
  padding: 5px 15px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #8125b9;
  cursor: default;
}

.menubar-item:not(.menubar-item--active) {
  cursor: pointer;
}

.menubar-item--active {
  border: 1px dotted rgba(0, 0, 0, 0.1);
  border-bottom: none;
  background-color: white;
  color: black;
}

/******************************************************************************/
/*********************** TASK CREATION FORMATTING *****************************/
/******************************************************************************/

.task-add__container {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}

.task-add__input-container {
  padding: 10px;
}

.task-add__input-field {
  background: none;
  border: 1px solid lightgrey;
  border-radius: 2px;

  width: 100%;
  padding: 10px;
}

.task-add__input-field:focus {
  outline: none;
  border: 1px solid #8125b9;
}

.task-add__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.task-add__options-modifiers {
  display: flex;
  justify-content: space-between;
}

.task-add__options-modifiers > div {
  margin: 5px;
}

.task-add__container i:hover {
  color: black;
  cursor: pointer;
}

.task-add__container i {
  font-size: 16px;
  color: darkgray;
  position: relative;
}

.task-add__due-date {
}

.task-add__list {
}

.task-add__estimate {
}

.task-add__submit {
  box-sizing: border-box;
  background-color: #8125b9;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  margin: 5px;
}

.task-add__submit:hover {
  box-shadow: inset 0 -2px 0 rgb(177, 107, 107);
  cursor: pointer;
}

/******************************************************************************/
/************************* TASK LIST FORMATTING *******************************/
/******************************************************************************/

.task-list__container {
  overflow-y: scroll;
  height: 100%;
}

.task-list__task-item {
  position: relative;
  width: 100%;
  min-height: 20px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  padding: 2px;

  display: flex;
  align-items: center;
}
.task-list__task-item-placeholder {
  position: relative;
  width: 100%;
  min-height: 30px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  padding: 2px;

  display: flex;
  align-items: center;
}

.task-list__task-item:hover {
  background-color: lightyellow;
  cursor: pointer;
}

.task-list__task-bar {
  background-color: lightgrey;
  width: 3px;
  min-height: 25px;
  margin-left: 5px;
}

.task-list__task-select {
  margin-left: 5px;

  width: 12px;
  height: 12px;
  border: 1px solid lightgrey;
  border-radius: 2px;
}

.task-list__task-title {
  margin-left: 5px;
  font-size: 14px;
  color: #555555;
}

/******************************************************************************/
/*********************** INPUT PROMPTS FORMATTING *****************************/
/******************************************************************************/

.task-add__input-prompt {
  z-index: 100;
  background-color: #aaaaaa;
  color: white;
  padding: 3px;
  border-radius: 3px;

  size: 12px;

  position: absolute;

  transform: translateX() translateY(10px);

  /* display: flex;
  flex-direction: column;

  overflow: hidden; */
}

.task-add__input-prompt::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-bottom: 10px solid #aaaaaa;
  border-right: 8px solid transparent;
}

.task-add__input-option {
  background-color: #aaaaaa;
  border: 1px solid black;
  padding: 3px 8px;
}

.task-add__input-option:hover {
  background-color: #dddddd;
  cursor: pointer;
}

.task-add__errors {
  /* box-sizing: border-box; */
  background-color: lightpink;
  border: darkred;
  border-radius: 3px;
  width: 90%;
  padding: 10px;
  margin: 20px;
}

.task-add__errors > * {
  width: 95%;
  text-align: left;
  color: darkred;
  margin: 15px;
}
